
html,body {
  height: 100%;
}

.container-lg {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    padding: 10%;
    
    font-family: sans-serif;
    font-size: large;
}

#fixedimage {
  font-family: sans-serif;
  font-size: large;
  color: #ffffff;
  height: 100%;
}

.children {
    justify-content: space-between;
}



 button {
    
 }

}


  
  .wrapper {
    height: 100%;
  }
  
  .fixed-bg {
    height: 100%; 
  }

  .fixed-bg {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  
  
  /* first section */
  
  .bg-1 {
    background-image: url('homepagepic.png');
    
  }
  
  #welcomebox {
    background-color: #ffffff;
    max-width: 80%;


  }